flask
Flask-Cors
python-docx
requests
mysqlclient
mammoth
nltk
sentence-transformers
python-dotenv
psycopg2
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai